
  
  .navbar {
    background-color: #292b2e0d;
  
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    z-index: 999;
    
   
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    
   
  }
  
  .container {
    z-index: 1;
    width: 100%;
    
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .navbar-logo {
    color: #F4F5F6;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;

    display: flex;
   
    align-items: center;
  }
  
  .navbar-icon {
    margin-right: 0.5rem;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
  }
  
  .nav-items {
    height: 40px;
    transition: 300ms
 
  }
  
  .nav-items:hover {
    text-decoration: underline .1rem #F8F9FA;
    text-underline-offset: .5rem;
   
  }
  
  .nav-links {
    color: #F4F5F6;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem ;
  
    font-size: .8rem;
  }
  
  .activated {
    color: #F8F9FA;
    text-decoration: underline .1rem #F8F9FA;
    text-underline-offset: .5rem;
    
  }
  
 
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    
      
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 20%;
     
      position: absolute;
      top: 60px;
      right: -100%;
      
      transition: all 0.2s ease-in;
   
      
    }
  
    .nav-menu.active {
      background: rgba(41, 42, 44, 0.97);
      backdrop-filter: blur(4px);
      right: 0;
      opacity: 1;
      transition: all 0.4s ease;
      z-index: 1;
      
    }
  
    .nav-links {
     
      padding-right: 20px;
      text-align: right;
   
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  
    .nav-links:hover {
      color: #F8F9FA;
     
    }
  
    .nav-item:hover {
      border: none;
    }
  
    .nav-item {
      width: 100%;
    }
  
    
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 8px;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.2rem;
      cursor: pointer;
     
    }

  

  }